.container{
    padding: 20px;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.not-found{
    color: red;
    display: flex;
    margin: 0 auto;
}

.blurForCompleteCard{
    width: 100vw;
    height: 100vh;
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 98;
    backdrop-filter: blur(5px);
    cursor: pointer;
}

app-cards-of-itens{
    cursor: pointer;
}