<div class="card complete-card">
  <div class="card-image"></div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{ type }}</p>
      </div>
    </div>

    <div class="content">
      <div *ngFor="let item of objOfItem | keyvalue">
        <div *ngIf="item.key == 'image'">
          <img [src]="item.value" alt="image not found" />
        </div>
        <div
          *ngIf="
            typeofItem(item.value) !== 'object' &&
            item.key != 'image' &&
            item.key != 'id'
          "
        >
          <strong>{{ item.key }}:</strong>
          <p>{{ item.value }}</p>
        </div>
        <div *ngIf="typeofItem(item.value) === 'object'">
          <strong>{{ item.key }}</strong>
          <app-table-items [objWithTheInformations]="item.value" />
        </div>
      </div>
    </div>
  </div>
</div>
